table {
    border: 1px solid gray;
}

td,
th {
    padding: 1rem;
    border: 1px solid gray;
}

div.column {
    max-width: 800px;
    margin: 2rem auto;
}

body {
    font-size: 18px;
    line-height: 1.4;
}

h2,
h3,
h4,
h5,
h6 {
    margin-block-start: 2em;
    margin-block-end: .5em;
}

p {
    margin-block-start: 0;
    margin-block-end: 1em;
}